attrs==17.4.0
Automat==0.6.0
click==6.7
constantly==15.1.0
Django==2.0.2
Flask==0.12.2
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pytz==2018.3
six==1.11.0
SQLAlchemy==1.2.4
Werkzeug==0.14.1
zope.interface==4.4.3
